.accountmobile {
  max-width: 425px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.h1 {
  color: #3596e7;
  font-size: 30px;
  font-family: monospace;
}

.cardaccounts {
  background-color: #3596e7;
  justify-content: center;
  text-align: center;
  height: 50px;
}
