body {
  background-image: url(./assets/images/body.png);
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 3px;
  border-radius: solid 1px gray;
}

.Applogo {
  height: 5vmin;
  pointer-events: none;
  margin: 3px;
  border-radius: soloid 1px gray;
}

.verify {
  align-items: center;
  margin: 4px auto;
  color: black;
  background: white;
  padding: 50px;
  border-radius: 5px;
  max-width: 1024px;
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 500px;
}

@media only screen and (max-width: 425px) {
  .verify {
    width: 1024px;
  }

  .header {
    width: 1024px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
